{:paths ["src/main"]
 :deps {org.clojars.cartesiantheatrics/manifold3d$linux-cuda-x86_64 {:mvn/version "1.0.64"}
        org.clojars.cartesiantheatrics/plexus {:mvn/version "0.0.3"}
        sicmutils/sicmutils   {:mvn/version "0.22.0"}
        }
 
 }